.menuNav
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight : normal;
	text-decoration: none;	
	color: #004182;
	background-image: url(/_layouts/Images/21_2_ob/nav-bg1.jpg);
	text-align:center;
	vertical-align:middle;
	
}
.menuNavOn
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight : normal;
	text-decoration: none;	
	color: #004182;
	background-image: url(/_layouts/Images/21_2_ob/nav-bg2.jpg);
	text-align:center;
	vertical-align:middle;
	
}