body #s4-workspace
{
    background-color: #767678;
	background-image: url(/_layouts/Images/21_2_ob/bg-main.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px
}

body #s4-bodyContainer{
    margin: 0 auto !important;
    width:1000px !important;
}

.div-top-ban {
       height: 203px;
       width: 100%;
       background-image: url(/_layouts/Images/21_2_ob/logo1.jpg);
       background-repeat: no-repeat;
}



/* remove quick lauch*/

body #s4-leftpanel{
display:none
}

.s4-ca{
margin-left:0px
}

/*
.s4-ql ul.root ul > li > a {
    height: 100px;
    min-width: 100px;
    background: url("/_layouts/Images/21_2_ob/nav-bg2.jpg") repeat-x left top; 
    background-color: #5185b5;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    color: #000000;
}
 
.s4-ql .selected > .menu-item   {
    background-color: #3f6b94;
    border: solid 1px black !important;
}
 
.s4-ql .menu-item:hover {
    background-color: #375e82;
}
 
.s4-ql ul.root > li > .menu-item {
    color: #FFFFFF;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 10px;
    min-width: 100px;
    background: url("/_layouts/Images/21_2_ob/nav-bg2.jpg") repeat-x left top; 
    background-color: #21374c;
    border: 1px solid black;
}
*/