ol {
    list-style-type: upper-roman;
}

ol li ol {
    list-style-type: decimal;
}

ol li ol li ol {
    list-style-type: lower-alpha;
}

.landingBackground
{
	padding-left: 230px;
	padding-top: 40px;
	width: 430px;
	padding-right:50px;
	height: 350px;
	float: left;
}

#landingWhiteBox
{
	width: 400px;
	height: 290px;
	background-color: White;
	float: left;
	padding: 15px;
}

#whiteBoxTitle
{
	width: 400px;
	height: 40px;
	padding-bottom: 15px;
	font-size: 20px;
	color: #0D4A8D;
}

#whiteBoxContent
{
	width: 400px;
	height: 160px;
	padding-bottom: 15px;
	float:left;
}

#whiteBoxImage
{
	float:left;
	width: 120px;
	height: 160px;
	padding-right: 20px;
}

#whiteBoxText
{
	float: left;
	width: 260px;
	height: 160px;
}

#whiteBoxDescription
{
	height: 35px;
	width: 260px;
	font-weight: bold;
	overflow: hidden;
}

#whiteBoxMainText
{
	height: 120px;
	width: 260px;
	overflow: auto;
}

#landingSlider
{
	height: 158px;
	margin-top: 30px;
	width: 708px;
	float: left;
	border: solid 1px #8D9AA2;
}

#sliderLeft
{
	width: 25px;
	height: 115px;
	float: left;
	padding-left: 15px;
	padding-right:15px;
	padding-top: 45px;
}

#sliderMid
{
	float: left;
	overflow: hidden;
	padding-top: 15px;
	width: 578px;
	position: relative;
	overflow: hidden;
}

#sliderRight
{
	width: 25px;
	height: 115px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 45px;
}

/* donation popup styles */
#backgroundDonationPopup
{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:30;  
	background-repeat:repeat;
}  

#donationArea
{
	padding-left: 10px;
}
#divDonationTitle
{  
	text-align:left;  
	color:#006666;  
	font-size:22px;  
	padding-left: 10px; 
	padding-bottom:2px;  
}  
#popupDonationContact
{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:410px;  
	width:710px;  
	background:#FFFFFF;  
	z-index:52;  
	font-size:13px;  
	background: url(../imgs/Donation/popupbg.jpg) no-repeat top left;
}  

#donationVideo
{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/
	padding: 20px 0px 0px 20px;
	height:410px;  
	width:710px;  
	z-index:52;  
	font-size:13px;  
	background: url(../imgs/Donation/popupbg.jpg) no-repeat top left;
	background-color: Transparent;
}  

.popupDonationWhiteArea
{
	width: 630px;
	height: 330px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	background-color: White;
	float: left;
}

#popupDonationContactClose
{  
	font-size:14px;  
	line-height:14px;  
	padding-right: 40px;
	padding-top: 15px;
	color:#6fa5fd;  
	font-weight:700;  
	display:block;  
	cursor: pointer;
}  

#popupDonationDescription
{
	height: 45px;
	width: 590px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	font-size: 20px;
	color: #0D4A8D;
}

#popupDonationContent
{
	height: 256px;
	width: 630px;
	overflow: hidden;
}

#popupDonationImage
{
	height: 256px;
	width: 330px;
	float: left;
}

#popupDonationText
{
	height: 216px;
	width: 260px;
	background-color: #083D83;
	color: White;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 20px;
}

#popupDonationMainText
{
	height: 145px;
	width: 260px;
	overflow: auto;
}

#popupDonationButtons
{
	height: 50px;
	width: 260px;
	padding-top: 20px;
}
