USE [master]
GO
/****** Object:  Database [DavidDucHotel]    Script Date: 07/31/2013 23:07:29 ******/
CREATE DATABASE [DavidDucHotel] ON  PRIMARY 
( NAME = N'DavidDucHotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DavidDucHotel.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DavidDucHotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DavidDucHotel_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DavidDucHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DavidDucHotel]
GO
/****** Object:  User [kynh]    Script Date: 07/31/2013 23:07:29 ******/
CREATE USER [kynh] FOR LOGIN [kynh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 07/31/2013 23:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLevel] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BuildingManage] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON
INSERT [dbo].[UserAccount] ([UserID], [UserLevel], [UserName], [Password], [FullName], [PhoneNumber], [Address], [Email], [BuildingManage], [Status]) VALUES (1, 1, N'TungDA', N'E10ADC3949BA59ABBE56E057F20F883E', N'Ð A T', N'12345', N'sadasd', N'tungda01659@fpt.edu.vn', NULL, 1)
INSERT [dbo].[UserAccount] ([UserID], [UserLevel], [UserName], [Password], [FullName], [PhoneNumber], [Address], [Email], [BuildingManage], [Status]) VALUES (8, 3, N'KyNH', N'E10ADC3949BA59ABBE56E057F20F883E', N'Nguyễn Hồng Kỳ', N'123456789', N'Phạm Hùng', N'tungda01659@fpt.edu.vn', NULL, 1)
INSERT [dbo].[UserAccount] ([UserID], [UserLevel], [UserName], [Password], [FullName], [PhoneNumber], [Address], [Email], [BuildingManage], [Status]) VALUES (9, 2, N'davidduc', N'E10ADC3949BA59ABBE56E057F20F883E', N'Vũ Tiến Đức', N'123456789', N'Phạm Hùng', N'tungda01659@gmail.com', N'4|1|', 1)
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
/****** Object:  Table [dbo].[Stuff]    Script Date: 07/31/2013 23:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stuff](
	[StuffID] [int] IDENTITY(1,1) NOT NULL,
	[StuffContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_Stuff] PRIMARY KEY CLUSTERED 
(
	[StuffID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Stuff] ON
INSERT [dbo].[Stuff] ([StuffID], [StuffContent]) VALUES (4, N'<p>
	<span style="font-size:20px;"><strong>Top 10 insider secrets for buyer </strong></span></p>
<p>
	Updating...</p>
')
SET IDENTITY_INSERT [dbo].[Stuff] OFF
/****** Object:  StoredProcedure [dbo].[spExportData]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spExportData] 
(
    @dbName varchar(100) = 'master', 
    @sql varchar(8000) = '',     
    @fullFileName varchar(MAX) = '',
	@CurrentServer varchar(MAX),
	@fromIndex int
)
AS
IF @sql = '' or @fullFileName = ''
BEGIN
    SELECT 0 AS ReturnValue -- failure
    RETURN
END 
-- IF DB isn't passed in set it to master
SELECT    @dbName = 'use ' + @dbName + ';'
IF object_id('##TempExportData') is not null
    DROP table ##TempExportData
IF object_id('##TempExportData2') is not null
    DROP table ##TempExportData2
-- insert data into a global temp table
DECLARE @columnNames varchar(8000), @columnConvert varchar(8000), @tempSQL varchar(8000), @columnNames1 varchar(8000)=''
SELECT @tempSQL = left(@sql, @fromIndex-1) + ' into ##TempExportData ' 
	+ substring(@sql, @fromIndex-1, len(@sql))
EXEC(@dbName + @tempSQL)
IF @@error > 0
BEGIN
    SELECT 0 AS ReturnValue -- failure
    RETURN
END 
-- build 2 lists
-- 1. column names
-- 2. columns converted to nvarchar
SELECT @columnNames = COALESCE( @columnNames  + ',', '') + column_name,
	   @columnNames1 = @columnNames1+ ''''+column_name+''' AS '''+column_name+''',',
       @columnConvert = COALESCE( @columnConvert  + ',', '') + 'convert(nvarchar(4000),' 
       + column_name + case WHEN data_type in ('datetime', 'smalldatetime') THEN ',121'
                            WHEN data_type in ('numeric', 'decimal') THEN ',128'
                            WHEN data_type in ('float', 'real', 'money', 'smallmoney') THEN ',2'
                            WHEN data_type in ('datetime', 'smalldatetime') THEN ',120'
                            else ''
							END + ') AS ' + column_name
FROM tempdb.INFORMATION_SCHEMA.Columns
WHERE table_name = '##TempExportData'
-- execute SELECT query to insert data and column names into new temp table
SELECT @sql = 'SELECT ' + @columnNames + ' into ##TempExportData2 from (SELECT '+@columnNames1
	+'''1'' AS ''1'' union all SELECT ' + @columnConvert + ', ''2'' AS [temp##SortID] from ##TempExportData) t'
EXEC (@sql)
-- build full BCP query
SELECT @sql = 'bcp "' + @dbName + ' SELECT * from ##TempExportData2" queryout "' + @fullFileName + '" -T -S '
	+@CurrentServer+' -CRAW -w'
-- execute BCP
Exec master..xp_cmdshell @sql
IF @@error > 0
BEGIN 
    SELECT 0 AS ReturnValue -- failure
    RETURN
END
DROP table ##TempExportData
DROP table ##TempExportData2
SELECT 1 AS ReturnValue -- success
GO
/****** Object:  Table [dbo].[MenuBar]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuBar](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[MenuLevel] [int] NULL,
	[ParentID] [int] NULL,
	[AppearNo] [int] NULL,
 CONSTRAINT [PK_MenuBar] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuBar] ON
INSERT [dbo].[MenuBar] ([MenuID], [Title], [Link], [MenuLevel], [ParentID], [AppearNo]) VALUES (1, N'Home', N'Home.aspx', 1, NULL, 1)
INSERT [dbo].[MenuBar] ([MenuID], [Title], [Link], [MenuLevel], [ParentID], [AppearNo]) VALUES (2, N'Rentals', N'Rental.aspx', 1, NULL, 2)
INSERT [dbo].[MenuBar] ([MenuID], [Title], [Link], [MenuLevel], [ParentID], [AppearNo]) VALUES (3, N'House List', N'House.aspx', 1, NULL, 3)
SET IDENTITY_INSERT [dbo].[MenuBar] OFF
/****** Object:  Table [dbo].[FurnitureType]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnitureType](
	[FurnitureTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Available] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_FurnitureType] PRIMARY KEY CLUSTERED 
(
	[FurnitureTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FurnitureType] ON
INSERT [dbo].[FurnitureType] ([FurnitureTypeID], [Description], [Available], [Total]) VALUES (1, N'Chair', 9, 23)
INSERT [dbo].[FurnitureType] ([FurnitureTypeID], [Description], [Available], [Total]) VALUES (2, N'Table', 9, 21)
INSERT [dbo].[FurnitureType] ([FurnitureTypeID], [Description], [Available], [Total]) VALUES (3, N'Television', 10, 20)
SET IDENTITY_INSERT [dbo].[FurnitureType] OFF
/****** Object:  Table [dbo].[BannerPicture]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerPicture](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_BannerPicture] PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BannerPicture] ON
INSERT [dbo].[BannerPicture] ([BannerID], [Picture]) VALUES (1, N'img1.jpg')
INSERT [dbo].[BannerPicture] ([BannerID], [Picture]) VALUES (2, N'img2.jpg')
INSERT [dbo].[BannerPicture] ([BannerID], [Picture]) VALUES (3, N'img3.jpg')
SET IDENTITY_INSERT [dbo].[BannerPicture] OFF
/****** Object:  Table [dbo].[FurnitureCollection]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnitureCollection](
	[CollectionID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FurnitureCollection] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FurnitureCollection] ON
INSERT [dbo].[FurnitureCollection] ([CollectionID], [Description]) VALUES (1, NULL)
INSERT [dbo].[FurnitureCollection] ([CollectionID], [Description]) VALUES (2, NULL)
INSERT [dbo].[FurnitureCollection] ([CollectionID], [Description]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[FurnitureCollection] OFF
/****** Object:  Table [dbo].[BuildingType]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingType](
	[BuildingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Available] [int] NULL,
	[Total] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[BuildingTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BuildingType] ON
INSERT [dbo].[BuildingType] ([BuildingTypeID], [Available], [Total], [Description]) VALUES (1, 10, 10, N'Villa')
INSERT [dbo].[BuildingType] ([BuildingTypeID], [Available], [Total], [Description]) VALUES (2, 20, 20, N'Apartment')
INSERT [dbo].[BuildingType] ([BuildingTypeID], [Available], [Total], [Description]) VALUES (3, 30, 30, N'House')
SET IDENTITY_INSERT [dbo].[BuildingType] OFF
/****** Object:  Table [dbo].[Building]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Building](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingTypeID] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Garage] [bit] NULL,
	[Pool] [bit] NULL,
	[Garden] [bit] NULL,
	[BedRoom] [int] NULL,
	[BathRoom] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Area] [int] NULL,
	[Picture] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[RentTime] [int] NULL,
	[District] [nvarchar](max) NULL,
	[Coordinates] [varchar](max) NULL,
	[NumberFloor] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Building] ON
SET IDENTITY_INSERT [dbo].[Building] OFF
/****** Object:  Table [dbo].[News]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[NewsContent] [nvarchar](max) NULL,
	[Poster] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON
SET IDENTITY_INSERT [dbo].[News] OFF
/****** Object:  Table [dbo].[Room]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingID] [int] NULL,
	[Floor] [int] NULL,
	[CurrentCustomerID] [int] NULL,
	[Status] [int] NULL,
	[RoomNo] [int] NULL,
	[IsWarehouse] [bit] NULL,
	[Price] [float] NULL,
	[BedRoom] [int] NULL,
	[BathRoom] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Area] [float] NULL,
	[Picture] [varchar](max) NULL,
 CONSTRAINT [PK_Room_1] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON
INSERT [dbo].[Room] ([RoomID], [BuildingID], [Floor], [CurrentCustomerID], [Status], [RoomNo], [IsWarehouse], [Price], [BedRoom], [BathRoom], [Description], [Area], [Picture]) VALUES (1, 1, 1, 2, 2, 101, 0, 1000, 2, 2, NULL, 200, NULL)
INSERT [dbo].[Room] ([RoomID], [BuildingID], [Floor], [CurrentCustomerID], [Status], [RoomNo], [IsWarehouse], [Price], [BedRoom], [BathRoom], [Description], [Area], [Picture]) VALUES (2, 1, 1, 2, 2, 102, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Room] ([RoomID], [BuildingID], [Floor], [CurrentCustomerID], [Status], [RoomNo], [IsWarehouse], [Price], [BedRoom], [BathRoom], [Description], [Area], [Picture]) VALUES (3, 1, 2, 2, 2, 201, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Room] OFF
/****** Object:  Table [dbo].[RequestFurniture]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestFurniture](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[RequestUser] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_RequestFurniture] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[LastCheckIn] [date] NULL,
	[LastCheckOut] [date] NULL,
	[LastStay] [int] NULL,
	[LastRoomID] [int] NULL,
	[CheckInDate] [date] NULL,
	[CheckOutDate] [date] NULL,
	[Stay] [int] NULL,
	[Discount] [int] NULL,
	[Prepaid] [float] NULL,
	[Remain] [float] NULL,
	[Total] [float] NULL,
	[Email] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[Password] [varchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [MiddleName], [LastName], [Gender], [PhoneNumber], [LastCheckIn], [LastCheckOut], [LastStay], [LastRoomID], [CheckInDate], [CheckOutDate], [Stay], [Discount], [Prepaid], [Remain], [Total], [Email], [Status], [Password]) VALUES (2, N'Tung', NULL, N'Do', 0, N'123456789', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'tungda01659@fpt.edu.vn', NULL, N'E10ADC3949BA59ABBE56E057F20F883E')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [MiddleName], [LastName], [Gender], [PhoneNumber], [LastCheckIn], [LastCheckOut], [LastStay], [LastRoomID], [CheckInDate], [CheckOutDate], [Stay], [Discount], [Prepaid], [Remain], [Total], [Email], [Status], [Password]) VALUES (3, N'Quân', N'Anh', N'Đỗ', 0, N'123456789', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'tungda01659@gmail.com', NULL, N'E10ADC3949BA59ABBE56E057F20F883E')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [MiddleName], [LastName], [Gender], [PhoneNumber], [LastCheckIn], [LastCheckOut], [LastStay], [LastRoomID], [CheckInDate], [CheckOutDate], [Stay], [Discount], [Prepaid], [Remain], [Total], [Email], [Status], [Password]) VALUES (4, N'12', N'đá', N'đá', 0, N'123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'a@a', NULL, N'E10ADC3949BA59ABBE56E057F20F883E')
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Furniture]    Script Date: 07/31/2013 23:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Furniture](
	[FurnitureID] [int] IDENTITY(1,1) NOT NULL,
	[CurrentBuildingID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[FurnitureTypeID] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[MadeIn] [nvarchar](max) NULL,
	[StartWarranty] [date] NULL,
	[EndWarranty] [date] NULL,
	[HandoverID] [int] NULL,
	[CollectionID] [int] NULL,
	[NumberInCollection] [int] NULL,
	[Picture] [varchar](max) NULL,
	[CurrentRoomID] [int] NULL,
	[ApproveDelete] [int] NULL,
	[TargetRoomID] [int] NULL,
	[ApproveMove] [int] NULL,
	[Reason] [nvarchar](max) NULL,
	[CurrentCustomerID] [int] NULL,
 CONSTRAINT [PK_Furniture] PRIMARY KEY CLUSTERED 
(
	[FurnitureID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Furniture] ON
INSERT [dbo].[Furniture] ([FurnitureID], [CurrentBuildingID], [Description], [Price], [FurnitureTypeID], [Name], [Status], [MadeIn], [StartWarranty], [EndWarranty], [HandoverID], [CollectionID], [NumberInCollection], [Picture], [CurrentRoomID], [ApproveDelete], [TargetRoomID], [ApproveMove], [Reason], [CurrentCustomerID]) VALUES (25, 33, NULL, 100, 1, N'Chair', 0, N'Vietnam', CAST(0x26350B00 AS Date), CAST(0x01380B00 AS Date), NULL, 1, 6, N'chair1.jpg', NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Furniture] ([FurnitureID], [CurrentBuildingID], [Description], [Price], [FurnitureTypeID], [Name], [Status], [MadeIn], [StartWarranty], [EndWarranty], [HandoverID], [CollectionID], [NumberInCollection], [Picture], [CurrentRoomID], [ApproveDelete], [TargetRoomID], [ApproveMove], [Reason], [CurrentCustomerID]) VALUES (26, 1, N'tét', 110, 2, N'Table', 0, N'Sri Lanka', CAST(0x26350B00 AS Date), CAST(0x01380B00 AS Date), NULL, 1, 1, N'table1.jpg', 2, 1, NULL, NULL, N'<p>
	zxcv</p>
', NULL)
INSERT [dbo].[Furniture] ([FurnitureID], [CurrentBuildingID], [Description], [Price], [FurnitureTypeID], [Name], [Status], [MadeIn], [StartWarranty], [EndWarranty], [HandoverID], [CollectionID], [NumberInCollection], [Picture], [CurrentRoomID], [ApproveDelete], [TargetRoomID], [ApproveMove], [Reason], [CurrentCustomerID]) VALUES (27, 2, N'<p>
	Sony Pravia 40 Inch</p>', 120, 3, N'Television', 0, N'Japan', CAST(0x26350B00 AS Date), CAST(0x01380B00 AS Date), NULL, 1, 1, N'tv1.jpg', 5, 2, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Furniture] OFF
/****** Object:  Table [dbo].[FurnitureHistory]    Script Date: 07/31/2013 23:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnitureHistory](
	[FurnitureID] [int] NULL,
	[TargetBuildingID] [int] NULL,
	[TargetRoomID] [int] NULL,
	[MoveDate] [date] NULL,
	[HandoverID] [int] NULL,
	[Reason] [nvarchar](max) NULL,
	[CurrentBuildingID] [int] NULL,
	[CurrentRoomID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FurnitureHistory] ([FurnitureID], [TargetBuildingID], [TargetRoomID], [MoveDate], [HandoverID], [Reason], [CurrentBuildingID], [CurrentRoomID]) VALUES (26, 5, 8, CAST(0x94360B00 AS Date), 8, N'Chuyển đồ lần 1', 1, 2)
INSERT [dbo].[FurnitureHistory] ([FurnitureID], [TargetBuildingID], [TargetRoomID], [MoveDate], [HandoverID], [Reason], [CurrentBuildingID], [CurrentRoomID]) VALUES (26, 4, 7, CAST(0xB4360B00 AS Date), 8, N'Chuyển đồ lần 2', 5, 8)
INSERT [dbo].[FurnitureHistory] ([FurnitureID], [TargetBuildingID], [TargetRoomID], [MoveDate], [HandoverID], [Reason], [CurrentBuildingID], [CurrentRoomID]) VALUES (26, 2, 6, CAST(0xD1360B00 AS Date), 8, N'Chuyển đồ lần 3', 4, 7)
/****** Object:  ForeignKey [FK_MenuBar_MenuBar]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[MenuBar]  WITH CHECK ADD  CONSTRAINT [FK_MenuBar_MenuBar] FOREIGN KEY([ParentID])
REFERENCES [dbo].[MenuBar] ([MenuID])
GO
ALTER TABLE [dbo].[MenuBar] CHECK CONSTRAINT [FK_MenuBar_MenuBar]
GO
/****** Object:  ForeignKey [FK_Room_RoomType]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([BuildingTypeID])
REFERENCES [dbo].[BuildingType] ([BuildingTypeID])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Room_RoomType]
GO
/****** Object:  ForeignKey [FK_News_UserAccount]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_UserAccount] FOREIGN KEY([Poster])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_UserAccount]
GO
/****** Object:  ForeignKey [FK_Room_Building]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Building] FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Building]
GO
/****** Object:  ForeignKey [FK_RequestFurniture_Room]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[RequestFurniture]  WITH CHECK ADD  CONSTRAINT [FK_RequestFurniture_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[RequestFurniture] CHECK CONSTRAINT [FK_RequestFurniture_Room]
GO
/****** Object:  ForeignKey [FK_RequestFurniture_UserAccount]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[RequestFurniture]  WITH CHECK ADD  CONSTRAINT [FK_RequestFurniture_UserAccount] FOREIGN KEY([RequestUser])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[RequestFurniture] CHECK CONSTRAINT [FK_RequestFurniture_UserAccount]
GO
/****** Object:  ForeignKey [FK_Customer_Room]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Room] FOREIGN KEY([LastRoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Room]
GO
/****** Object:  ForeignKey [FK_Furniture_Building]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Building] FOREIGN KEY([CurrentBuildingID])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Building]
GO
/****** Object:  ForeignKey [FK_Furniture_Customer]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Customer] FOREIGN KEY([CurrentCustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Customer]
GO
/****** Object:  ForeignKey [FK_Furniture_FurnitureCollection]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_FurnitureCollection] FOREIGN KEY([CollectionID])
REFERENCES [dbo].[FurnitureCollection] ([CollectionID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_FurnitureCollection]
GO
/****** Object:  ForeignKey [FK_Furniture_FurnitureType]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_FurnitureType] FOREIGN KEY([FurnitureTypeID])
REFERENCES [dbo].[FurnitureType] ([FurnitureTypeID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_FurnitureType]
GO
/****** Object:  ForeignKey [FK_Furniture_Room]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Room] FOREIGN KEY([CurrentRoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Room]
GO
/****** Object:  ForeignKey [FK_Furniture_Room1]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Room1] FOREIGN KEY([TargetRoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Room1]
GO
/****** Object:  ForeignKey [FK_Furniture_UserAccount]    Script Date: 07/31/2013 23:07:34 ******/
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_UserAccount] FOREIGN KEY([HandoverID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_UserAccount]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_Building]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_Building] FOREIGN KEY([TargetBuildingID])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_Building]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_Building1]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_Building1] FOREIGN KEY([CurrentBuildingID])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_Building1]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_Furniture]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_Furniture] FOREIGN KEY([FurnitureID])
REFERENCES [dbo].[Furniture] ([FurnitureID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_Furniture]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_Room]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_Room] FOREIGN KEY([TargetRoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_Room]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_Room1]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_Room1] FOREIGN KEY([CurrentRoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_Room1]
GO
/****** Object:  ForeignKey [FK_FurnitureHistory_UserAccount]    Script Date: 07/31/2013 23:07:35 ******/
ALTER TABLE [dbo].[FurnitureHistory]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureHistory_UserAccount] FOREIGN KEY([HandoverID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[FurnitureHistory] CHECK CONSTRAINT [FK_FurnitureHistory_UserAccount]
GO
